.header__logo {
    /* margin-top: 26px; */
    margin-bottom: -10px;
    width: 240px;
}

@media screen and (max-width: 1410px) {
    .header__logo {
        margin: 0;
        width: 220px;
        margin-bottom: 48px;
    }
}