.resume-info__skills {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 32px;
    margin: 0;
}

@media screen and (max-width: 1410px) {
    .resume-info__skills {
        gap: 16px;
        flex-wrap: wrap;
    }
}