.resume-info__about {
    grid-area: resume-info__about;
    border-radius: 24px 24px 0px 0px;
    background: #F51B1B;
    width: 274px;
    height: 454px;
    position: relative;
    margin-top: -60px;
    padding: 40px 24px 0 24px;
}