.resume-info__place-subtitle {
    color: var(--white, #FFF);
    font-family: TT Commons;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.18px;
    opacity: .4;

    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 1410px) {
    .resume-info__place-subtitle {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.16px;
    }
}